# dependencies
/node_modules

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem

# env files
.env*

# typescript
*.tsbuildinfo

# importer run artifacts
/importer-summary.json
